@use '../settings/settings.colors' as colors;
@use '../settings/settings.spacing' as space;

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  &__label {
    font-size: 0.75rem;
    font-weight: 600;
    color: colors.$color-text-secondary;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-left: 0.25rem;
  }

  &__input {
    width: 100%;
    background-color: rgb(3 7 18 / 50%);
    border: 1px solid colors.$color-gray-800;
    color: colors.$color-text-primary;
    border-radius: 0.75rem;
    padding: 0.75rem 1rem;
    font-family: inherit;
    transition: all 0.2s ease;
    box-sizing: border-box;

    &::placeholder {
      color: colors.$color-text-secondary;
    }

    &:focus {
      outline: none;
      border-color: colors.$color-cyan-500;
      box-shadow: 0 0 0 1px colors.$color-cyan-500;
    }

    &--error {
      border-color: colors.$color-pink-500;

      &:focus {
        border-color: colors.$color-pink-500;
        box-shadow: 0 0 0 1px colors.$color-pink-500;
      }
    }
  }
}
