<div class="create-event-container">
  <div class="sidebar">
    <h2>Crear Quedada</h2>
    <p>
      Organiza un punto de encuentro. Haz clic en el mapa para soltar un Pin 📍 con la ubicación
      exacta.
    </p>

    <div class="map-controls">
      <app-button variant="danger" [fullWidth]="true" (clicked)="clearPin()">Quitar Pin</app-button>
    </div>

    <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="kachaoo-form mt-2">
      <app-form-input
        id="title"
        label="Título de la quedada"
        formControlName="title"
        placeholder="Concentración JDM..."
      >
      </app-form-input>

      <div class="form-group">
        <label for="description" class="form-group__label">Descripción</label>
        <textarea
          id="description"
          formControlName="description"
          rows="3"
          class="form-group__input"
        ></textarea>
      </div>

      <div class="form-group">
        <label for="route_id" class="form-group__label">Añadir una Ruta (Opcional)</label>
        <select id="route_id" formControlName="route_id" class="form-group__select">
          @if (isLoadingRoutes) {
            <option value="">Cargando tus rutas...</option>
          } @else {
            <option value="">-- Ninguna --</option>
            @for (route of availableRoutes; track route.id) {
              <option [value]="route.id">
                {{ route.title }} ({{ route.distance_km }}km) - Dificultad: {{ route.difficulty }}
              </option>
            }
          }
        </select>
      </div>

      <div class="form-row">
        <app-form-input
          id="event_date"
          type="date"
          label="Día de la Quedada"
          formControlName="event_date"
        >
        </app-form-input>

        <app-form-input id="time" type="time" label="Hora" formControlName="time"> </app-form-input>
      </div>

      <app-form-input
        id="max_attendees"
        type="number"
        label="Aforo Máximo"
        formControlName="max_attendees"
      >
      </app-form-input>

      @if (errorMessage) {
        <div class="error-msg">{{ errorMessage }}</div>
      }
      @if (successMessage) {
        <div class="success-msg">{{ successMessage }}</div>
      }

      <div class="submit-wrapper">
        <app-button
          type="submit"
          variant="primary"
          [fullWidth]="true"
          [disabled]="eventForm.invalid || isSaving"
        >
          {{ isSaving ? 'Guardando...' : 'Crear Quedada' }}
        </app-button>
      </div>
    </form>
  </div>

  <div class="map-wrapper" #mapElement></div>
</div>
