@use '../../../styles/settings/settings.colors' as colors;
@use '../../../styles/tools/tools.mixins' as mixins;

.create-event-container {
  display: flex;
  height: 100vh;
  width: 100%;

  @media (width <= 768px) {
    flex-direction: column;
  }

  .sidebar {
    width: 350px;

    @include mixins.glassmorphism(0.1, 16px);

    border-right: 1px solid rgb(255 255 255 / 5%);
    padding: 1.5rem;
    z-index: 10;
    overflow-y: auto;
    color: #fff;

    @media (width <= 768px) {
      width: 100%;
      height: 45vh;
      border-right: none;
      border-bottom: 1px solid rgb(255 255 255 / 5%);
    }

    h2 {
      margin-top: 0;
      font-size: 1.5rem;

      @include mixins.gradient-text(colors.$color-cyan-400, colors.$color-purple-500);

      font-weight: 700;
    }

    p {
      color: rgb(255 255 255 / 60%);
      font-size: 0.9rem;
      margin-bottom: 1.5rem;
    }

    .form-row {
      display: flex;
      gap: 1rem;

      .form-group,
      app-form-input {
        flex: 1;
      }
    }

    .map-controls {
      margin-bottom: 1rem;
    }

    .error-msg {
      color: colors.$color-pink-500;
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }

    .success-msg {
      color: colors.$color-cyan-500;
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }
  }

  .map-wrapper {
    flex: 1;
    height: 100%;

    @media (width <= 768px) {
      height: 55vh;
    }
  }
}
