<div class="event-card">
  <img [src]="getPlaceholderImage()" alt="Event Image" class="card-image" />
  <div class="card-header">
    <h3>{{ event().title }}</h3>
    <span class="date">{{ event().event_date | date: 'medium' }}</span>
  </div>

  <div class="card-body">
    <p class="desc">{{ event().description }}</p>

    <div class="organizer">
      <span
        >Organizado por: <strong>&#64;{{ event().organizer.username }}</strong></span
      >
    </div>

    <div class="attendance">
      <span class="badge" [ngClass]="{ 'badge-full': isFull() }">
        Asistentes: {{ getAttendeesCount() }} / {{ event().max_attendees }}
      </span>
    </div>
  </div>

  <div class="card-footer">
    @if (canEditOrDelete()) {
      <div class="footer-actions">
        <app-button variant="secondary" [fullWidth]="true" (clicked)="edit.emit(event())">
          Editar
        </app-button>
        <app-button variant="danger" [fullWidth]="true" (clicked)="delete.emit(event())">
          Eliminar
        </app-button>
      </div>
    }
    <app-button
      [variant]="event().isAttending ? 'secondary' : 'primary'"
      [fullWidth]="true"
      [disabled]="isFull() && !event().isAttending"
      (clicked)="attend.emit(event())"
    >
      {{ event().isAttending ? 'Desapuntarse' : isFull() ? 'Aforo Completo' : 'Asistir' }}
    </app-button>
  </div>
</div>
